.section { text-align: center;font-size:50px;color: #fff;}
.navbar{
    padding:5px;
    background:rgba(0,0,0,0);
    border:0;
}
.navbar .navbar-header .githubavator img{
    width:40px;
    height:40px;
    border-radius:20px;
}
.navbar #navbarlist{
    float:right;/*设置下拉框右对齐*/
}
.navbar #navbarlist #menu li a{
    font-size:16px;
    font-family:"微软雅黑";
}
#fullpageshow .intro{
    margin:50px auto 20px auto;
    width:80%;
} 
#fullpageshow .intro .avator img{
    width:150px;
    height:150px;
    border-radius:75px;
}
#fullpageshow .intro .text{
    margin-top:50px;
    font-size:26px;
}
#fullpageshow .eduintro .introlist{
    height:130px;
}
#fullpageshow p{
    font-size:18px;
}
#fullpageshow .eduintro .edubg,#fullpageshow .eduintro .age,#fullpageshow .eduintro .state,#fullpageshow .eduintro .location{
    position:absolute;
    opacity:0;
    transition:all 1s;
}
#fullpageshow .eduintro .edubg,#fullpageshow .eduintro .age{
    margin-left:-200px;
}
#fullpageshow .eduintro .state,#fullpageshow .eduintro .location{
    margin-left:120%;
}
#fullpageshow .active .edubg,#fullpageshow .active .age,#fullpageshow .active .state,#fullpageshow .eduintro .location{
    opacity:1;
    transition-delay:1s;
}
#fullpageshow .active .edubg{
    margin-left:70%;  
}
#fullpageshow .active .age{
    margin-left:50%;
}
#fullpageshow .active .state{
    margin-left:10%;
}
#fullpageshow .active .location{ 
    margin-left:30%;
}
#fullpageshow .eduintro .skill{
    font-size:18px;
    margin:50px auto 0px auto;
    width:70%;
    text-align:left;
}
#fullpageshow .eduintro .skill div{
    margin-top:10px;
    opacity:0;
    transition:all 1s;
}
#fullpageshow .active .skill div{
    opacity:1;
    width:auto;
    height:auto;
    transition-delay:1s;
}
#fullpageshow .icons a{
    color:#ffffff;
}
#fullpageshow .icons i{
    font-size:32px;
    width:55px;
    height:54px;
    padding-top:9px;
    border:#ffffff solid 2px;
    border-radius:27px;
}
#fullpageshow .icons i:hover{
    color:#70cfaf;
    background:#ffffff;
}
.angledown{
    position:absolute;
    margin-left:48%;
    color:#ffffff;
    bottom:0px;
    font-size:26px;
}
#fullpageshow .imagerotation{
    margin:auto;
    height:400px;
    width:648px;
    overflow:hidden;
    position:relative;
    border:10px solid #dddddd;
    box-shadow:0 0 5px #000000;
    border-radius:5px;
}
#fullpageshow .imagerotation .imagebox{
    position:absolute;
    height:400px;
    width:648px;
    overflow:hidden;
}
#fullpageshow .imagerotation .imagebox img{
    float:left;
    height:400px;
    width:648px;
}
#fullpageshow .imagerotation .imagetitle{
    position:absolute;
    bottom:0px;
    width:648px;
    height:40px;
    overflow:hidden;
    background:rgba(0,0,0,0.3);
}
#fullpageshow .imagerotation .imagetitle p{
    position:absolute;
    width:648px;
    height:40px;
    line-height:40px;
    z-index:1;
    display:block;
}
#fullpageshow .imagerotation .imagebrief{
    position:absolute;
    bottom:40px;/*在title的上面显示*/
    width:648px;
    text-align:center;
    font-size:16px;
    color:#302f30;
    display:none;
}
#fullpageshow .imagerotation .imagebrief div{
    margin:0 7px;
    width:95%;
    background:rgba(255,255,255,0.5);
}
#fullpageshow .imagerotation .icobox{
    position:absolute;
    bottom:14px;
    right:10px;
    width:130px;
    height:12px;
    z-index:2;
}
#fullpageshow .imagerotation .icobox div{
    float:left;
    height:12px;
    width:12px;
    border-radius:6px;
    margin-left:5px;
    background:#6c6c6d;
    cursor:pointer;
}
#fullpageshow .imagerotation div.active{
    background:#302f30;
}
@media screen and (max-width:500px) {
    .section { font-size:30px;}
    .navbar .navbar-header .githubavator img{
        margin-top:-10px;
        width:36px;
        height:36px;
        border-radius:18px;
    }
    .navbar #navbarlist #menu li a{
        font-size:12px;
        font-family:"微软雅黑";
    }
 
    #fullpageshow .intro .avator img{
        width:100px;
        height:100px;
        border-radius:50px;
    }
    #fullpageshow .intro .text{
        margin-top:30px;
        font-size:18px;
    }
    #fullpageshow .eduintro .edubg,#fullpageshow .eduintro .age,#fullpageshow .eduintro .state,#fullpageshow .eduintro .location{
      margin-top:15px;
    }
    #fullpageshow .eduintro .introlist{
        height:80px;
    }
    #fullpageshow p{
        font-size:12px;
    }
    #fullpageshow .eduintro .skill{
        font-size:12px;
    }
    #fullpageshow .icons i{
        font-size:24px;
        width:40px;
        height:40px;
        padding-top:5px;
        border:#ffffff solid 2px;
        border-radius:20px;
    }
    .angledown{
        font-size:18px;
    }
    h3{
        font-size:18px;
    }
    h4{
        font-size:16px;
    }
    #fullpageshow .imagerotation{
        height:210px;
        width:300px;
        border:5px solid #dddddd;
    }
    #fullpageshow .imagerotation .imagebox{
        height:210px;
        width:300px;
    }
    #fullpageshow .imagerotation .imagebox img{
        height:210px;
        width:300px;
    }
    #fullpageshow .imagerotation .imagetitle{
        width:300px;
        height:30px;
    }
    #fullpageshow .imagerotation .imagetitle p{
        width:200px;
        height:30px;
        line-height:30px;
    }
    #fullpageshow .imagerotation .imagebrief{
        width:300px;
        font-size:8px;
        bottom:30px;
    }
    #fullpageshow .imagerotation .icobox{
        bottom:7px;
        right:10px;
        width:110px;
        z-index:2;
    }
    #fullpageshow .imagerotation .icobox div{
        height:10px;
        width:10px;
        border-radius:5px;
    }
}